

<ion-content>
  <div class="login-bg access-login"></div>


  <div class="container login-area">
    <div class="section">

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit center white-text">Login</h5>
      <div class="row">

        <div class="input-field col s10 offset-s1">
          <input id="email3" type="email" class="validate">
          <label for="email3">Email</label>
        </div>
     
      </div>

      <div class="row">

        <div class="input-field col s10 offset-s1">
          <input id="pass3" type="password" class="validate">
          <label for="pass3">Password</label>
        </div>
     
      </div>

      <div class="row center">
        <a class="waves-effect waves-light btn-large bg-primary">Login</a>
        <div class="spacer"></div>
        <div class="links">
             <a routerLink="/forgot-password" class='waves-effect'>             Forgot Password
             </a>             <span class="sep">|</span>
             <a routerLink="/register" class='waves-effect'>             Register
             </a>        </div>
        <div class="spacer"></div>
        <div class="links">
             <a routerLink="/" class='waves-effect'>             Go Back
             </a>        </div>
        <div class="spacer"></div>


       </div>

    </div>
    </div>
    


    </div>
  </div>

</ion-content>
