<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button defaultHref="tabs" (click)="goBack()">
        <i class="mdi mdi-chevron-left" data-page=""></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" class="search-page">
      <div class="search-bar">
        <nav class="ui-forms">
            <div class="nav-wrapper">
              <form>

                <div class="input-field">
                  <input #addresstext id="search" type="search" placeholder="Address of destination" required="">
                  <label for="search" class="active"><i class="mdi mdi-magnify"></i></label>
                  <i class="material-icons mdi mdi-close"></i>
                </div>
              </form>
            </div>
        </nav>
        </div>
          </ion-col>
  
  </ion-row>
  <div #map id="map"></div>
    <div class="map-popup" [hidden]="!showPopup">
      <button class="close-popup" (click)="closePopup()"><ion-icon name="close-circle-outline" size="large"></ion-icon></button>
      <div class="row">
        <div class="col-lg-6">
          <button (click)="calculateAndDisplayRoute(tmpCoord)">Drive Here</button>
        </div>
        <div class="col-lg-6">
          <button (click)="sendRequest()">Reserve this spot</button>
        </div>
      </div>
    </div>

</ion-content>
